networks:
  public:
    external: true

services:
  kavita:
    container_name: kavita
    environment:
      TZ: America/Los_Angeles
    image: ghcr.io/kareadita/kavita:${IMAGE_TAG:-latest}
    labels:
      homepage.group: Media
      homepage.href: https://${HOST}
      homepage.icon: kavita.png
      homepage.name: Kavita (Reading)
      homepage.widget.password: ${PASSWORD}
      homepage.widget.type: kavita
      homepage.widget.url: http://kavita:5000
      homepage.widget.username: ${USERNAME}
      traefik.enable: true
      traefik.http.routers.kavita.rule: Host(`${HOST}`)
      traefik.http.routers.kavita.tls.certresolver: myresolver
      traefik.http.routers.kavita.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${HOST}}
      traefik.http.routers.kavita.tls.domains[0].sans: ${TLS_CERT_SANS}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/kavita:/kavita/config
      - /mnt/pool1/media/library/books:/media-books
