ALLOY_IMAGE_TAG=latest
ALLOY_HOST=alloy.example.com
CADVISOR_IMAGE_TAG=latest
DESKTOP_HOST=1.2.3.4
GRAPHITE_IMAGE_TAG=latest
KVM_HOST=1.2.3.4
KVM_USERNAME=username
KVM_PASSWORD=password
NUT_IMAGE_TAG=latest
OMADA_IMAGE_TAG=latest
OMADA_HOST=https://omada.example.com
OMADA_USER=username
OMADA_PASS=password
SPEEDTEST_IMAGE_TAG=latest
