networks:
  public:
    external: true

services:
  wallos:
    container_name: wallos
    environment:
      PGID: 568
      PUID: 568
      TZ: America/Los_Angeles
    image: ghcr.io/ellite/wallos:${IMAGE_TAG:-latest}
    labels:
      homepage.group: Other
      homepage.href: https://${HOST}
      homepage.icon: wallos.png
      homepage.name: Wallos (Subscriptions)
      homepage.widget.fields: '["activeSubscriptions", "thisMonthlyCost", "nextMonthlyCost"]'
      homepage.widget.key: ${API_KEY}
      homepage.widget.type: wallos
      homepage.widget.url: http://wallos
      traefik.enable: true
      traefik.http.routers.wallos.middlewares: 'authelia@docker'
      traefik.http.routers.wallos.rule: Host(`${HOST}`)
      traefik.http.routers.wallos.tls.certresolver: myresolver
      traefik.http.routers.wallos.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${HOST}}
      traefik.http.routers.wallos.tls.domains[0].sans: ${TLS_CERT_SANS}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/wallos/db:/var/www/html/db
      - /mnt/pool0/containers/wallos/logos:/var/www/html/images/uploads/logos
