configs:
  fb_config:
    content: |
      auth:
        methods:
          password:
            enabled: false
          proxy:
            createUser: true
            enabled: true
            header: 'Remote-User'
            logoutRedirectUrl: ${FILEBROWSER_LOGOUT_URL}
      integrations:
        office:
          url: 'https://${ONLYOFFICE_HOST:-office.${BASE_DOMAIN}}'
          secret: ${ONLYOFFICE_JWT_SECRET}
      server:
        externalUrl: 'https://${FILEBROWSER_HOST:-files.${BASE_DOMAIN}}'
        internalUrl: 'http://filebrowser-quantum'
        sources:
          - path: '/mnt/pool0'
            name: pool0
            config:
              defaultEnabled: true
          - path: '/mnt/pool1'
            name: pool1
            config:
              defaultEnabled: true
      userDefaults:
        permissions:
          api: true
          admin: true
          modify: true
          share: true
          realtime: true
          delete: true
          create: true
          download: true

networks:
  public:
    external: true

services:
  filebrowser:
    configs:
      - source: fb_config
        target: /data/config.yaml
    container_name: filebrowser-quantum
    depends_on:
      onlyoffice:
        condition: service_healthy
    environment:
      FILEBROWSER_CONFIG: /data/config.yaml
      FILEBROWSER_DATABASE: /data/database.db
      TZ: America/Los_Angeles
    image: ghcr.io/gtsteffaniak/filebrowser:${FILEBROWSER_IMAGE_TAG:-stable}
    labels:
      homepage.group: NAS
      homepage.href: https://${FILEBROWSER_HOST:-files.${BASE_DOMAIN}}
      homepage.icon: files.png
      homepage.name: Files
      traefik.enable: true
      traefik.http.routers.filebrowser.middlewares: 'authelia@docker'
      traefik.http.routers.filebrowser.rule: Host(`${FILEBROWSER_HOST:-files.${BASE_DOMAIN}}`)
      traefik.http.routers.filebrowser.tls.certresolver: myresolver
      traefik.http.routers.filebrowser.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.filebrowser.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    user: '568:568'
    volumes:
      - /mnt/pool0:/mnt/pool0
      - /mnt/pool1:/mnt/pool1
      - /mnt/pool0/containers/filebrowser-quantum:/data
      - /mnt/pool0/containers/filebrowser-quantum/tmp:/home/filebrowser/tmp
  onlyoffice:
    container_name: filebrowser-onlyoffice
    environment:
      JWT_ENABLED: true
      JWT_SECRET: ${ONLYOFFICE_JWT_SECRET}
    healthcheck:
      start_period: 10s
      test: 'wget --spider -q --tries=1 http://localhost/healthcheck'
    image: onlyoffice/documentserver:${ONLYOFFICE_IMAGE_TAG:-latest}
    labels:
      traefik.enable: true
      traefik.http.middlewares.onlyoffice-headers.headers.accesscontrolalloworiginlist: '${FILEBROWSER_HOST:-files.${BASE_DOMAIN}},${ONLYOFFICE_HOST:-office.${BASE_DOMAIN}}'
      traefik.http.middlewares.onlyoffice-headers.headers.customrequestheaders.X-Forwarded-Proto: 'https'
      traefik.http.routers.onlyoffice.middlewares: onlyoffice-headers
      traefik.http.routers.onlyoffice.rule: Host(`${ONLYOFFICE_HOST:-office.${BASE_DOMAIN}}`)
      traefik.http.routers.onlyoffice.tls.certresolver: myresolver
      traefik.http.routers.onlyoffice.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.onlyoffice.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
