configs:
  fb_config:
    content: |
      auth:
        methods:
          password:
            enabled: false
          proxy:
            createUser: true
            enabled: true
            header: 'Remote-User'
            logoutRedirectUrl: ${LOGOUT_URL}
      server:
        sources:
          - path: "/mnt/pool0"
            name: pool0
            config:
              defaultEnabled: true
          - path: "/mnt/pool1"
            name: pool1
            config:
              defaultEnabled: true

networks:
  public:
    external: true

services:
  filebrowser:
    configs:
      - source: fb_config
        target: /data/config.yaml
    container_name: filebrowser-quantum
    environment:
      FILEBROWSER_CONFIG: /data/config.yaml
      FILEBROWSER_DATABASE: /data/database.db
      TZ: America/Los_Angeles
    image: ghcr.io/gtsteffaniak/filebrowser:${IMAGE_TAG:-latest}
    labels:
      homepage.group: NAS
      homepage.href: https://${HOST}
      homepage.icon: files.png
      homepage.name: Files
      traefik.enable: true
      traefik.http.routers.filebrowser.middlewares: 'authelia@docker'
      traefik.http.routers.filebrowser.rule: Host(`${HOST}`)
      traefik.http.routers.filebrowser.tls.certresolver: myresolver
      traefik.http.routers.filebrowser.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${HOST}}
      traefik.http.routers.filebrowser.tls.domains[0].sans: ${TLS_CERT_SANS}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    user: '568:568'
    volumes:
      - /mnt/pool0:/mnt/pool0
      - /mnt/pool1:/mnt/pool1
      - /mnt/pool0/containers/filebrowser-quantum:/data
      - /mnt/pool0/containers/filebrowser-quantum/tmp:/home/filebrowser/tmp
