networks:
  observe:
    external: true

services:
  exporter:
    command:
      - '/usr/bin/omada-exporter'
      - '--insecure'
    container_name: omada-exporter
    environment:
      OMADA_HOST: https://host.docker.internal:8043
      OMADA_PASS: ${PASSWORD}
      OMADA_SITE: Home
      OMADA_USER: ${USERNAME}
    extra_hosts:
      - host.docker.internal:host-gateway
    healthcheck:
      start_period: 10s
      test: 'wget --spider -q --tries=1 http://localhost:9202/metrics'
    image: ghcr.io/charlie-haley/omada_exporter:${EXPORTER_IMAGE_TAG:-latest}
    labels:
      prometheus.label.instance: omada
      prometheus.port: 9202
    networks:
      - observe
    pull_policy: always
    restart: unless-stopped
  omada:
    cap_add:
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    container_name: omada
    environment:
      PGID: '568'
      PUID: '568'
      TZ: America/Los_Angeles
    image: mbentley/omada-controller:${IMAGE_TAG:-latest}
    labels:
      homepage.group: Network
      homepage.href: https://${HOST}
      homepage.icon: omada.png
      homepage.name: Omada Controller
      homepage.widget.password: ${PASSWORD}
      homepage.widget.site: Home
      homepage.widget.type: omada
      homepage.widget.url: https://host.docker.internal:8043
      homepage.widget.username: ${USERNAME}
      traefik.enable: true
      traefik.http.routers.omada.rule: Host(`${HOST}`)
      traefik.http.routers.omada.tls.certresolver: myresolver
      traefik.http.routers.omada.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${HOST}}
      traefik.http.routers.omada.tls.domains[0].sans: ${TLS_CERT_SANS}
      traefik.http.services.omada.loadbalancer.server.port: 8043
      traefik.http.services.omada.loadbalancer.server.scheme: https
    network_mode: host
    restart: unless-stopped
    stop_grace_period: 60s
    ulimits:
      nofile:
        hard: 8192
        soft: 4096
    volumes:
      - /mnt/pool0/containers/omada/data:/opt/tplink/EAPController/data
      - /mnt/pool0/containers/omada/config:/opt/tplink/EAPController/logs
