networks:
  public:
    external: true
services:
  filebrowser:
    command:
      - '--noauth'
    container_name: filebrowser
    image: filebrowser/filebrowser:${IMAGE_TAG:-latest}
    labels:
      homepage.group: NAS
      homepage.href: https://${HOST:-files.${BASE_DOMAIN}}
      homepage.icon: filebrowser.png
      homepage.name: Files
      traefik.enable: true
      traefik.http.routers.filebrowser.middlewares: 'authelia@docker'
      traefik.http.routers.filebrowser.rule: Host(`${HOST:-files.${BASE_DOMAIN}}`)
      traefik.http.routers.filebrowser.tls.certresolver: myresolver
      traefik.http.routers.filebrowser.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.filebrowser.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    user: '568:568'
    volumes:
      - /mnt/pool0/containers/filebrowser:/config
      - /mnt/pool0/containers/filebrowser:/database
      - /mnt/pool0:/srv/pool0
      - /mnt/pool1:/srv/pool1
