networks:
  public:
    external: true
services:
  vaultwarden:
    container_name: vaultwarden
    environment:
      DOMAIN: https://${HOST}
    image: ghcr.io/dani-garcia/vaultwarden:${IMAGE_TAG:-latest}
    labels:
      homepage.group: Other
      homepage.href: https://${HOST}
      homepage.icon: bitwarden.png
      homepage.name: Bitwarden
      traefik.enable: true
      traefik.http.routers.vaultwarden.rule: Host(`${HOST}`)
      traefik.http.routers.vaultwarden.tls.certresolver: myresolver
      traefik.http.routers.vaultwarden.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${HOST}}
      traefik.http.routers.vaultwarden.tls.domains[0].sans: ${TLS_CERT_SANS}
    networks:
      - public
    restart: unless-stopped
    user: '568:568'
    volumes:
      - /mnt/pool0/containers/vaultwarden:/data
