networks:
  public:
    external: true

services:
  arcane:
    container_name: arcane
    environment:
      APP_URL: https://${HOST}
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      JWT_SECRET: ${JWT_SECRET}
      LOG_JSON: true
      PGID: 568
      PUID: 568
    healthcheck:
      interval: 10s
      retries: 5
      start_period: 15s
      test:
        - 'CMD-SHELL'
        - 'curl -fsS http://localhost:3552/api/health >/dev/null || exit 1'
      timeout: 3s
    image: ghcr.io/getarcaneapp/arcane:${IMAGE_TAG:-latest}
    labels:
      homepage.group: Network
      homepage.href: https://${HOST}
      homepage.icon: arcane.png
      homepage.name: Arcane
      traefik.enable: true
      traefik.http.routers.arcane.rule: Host(`${HOST}`)
      traefik.http.routers.arcane.tls.certresolver: myresolver
      traefik.http.routers.arcane.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${HOST}}
      traefik.http.routers.arcane.tls.domains[0].sans: ${TLS_CERT_SANS}
      traefik.http.services.arcane.loadbalancer.server.port: 3552
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - arcane-data:/app/data
volumes:
  arcane-data:
    driver: local
