networks:
  arcane:
    name: arcane
  public:
    external: true

services:
  arcane:
    container_name: arcane
    environment:
      APP_URL: https://${HOST:-arcane.${BASE_DOMAIN}}
      DOCKER_HOST: tcp://arcane-proxy:2375
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      JWT_SECRET: ${JWT_SECRET}
      LOG_JSON: true
      PGID: 568
      PUID: 568
    healthcheck:
      interval: 10s
      retries: 5
      start_period: 15s
      test:
        - 'CMD-SHELL'
        - 'curl -fsS http://localhost:3552/api/health >/dev/null || exit 1'
      timeout: 3s
    image: ghcr.io/getarcaneapp/arcane:${IMAGE_TAG:-latest}
    labels:
      com.getarcaneapp.arcane.updater: false
      homepage.group: Network
      homepage.href: https://${HOST:-arcane.${BASE_DOMAIN}}
      homepage.icon: arcane.png
      homepage.name: Arcane
      traefik.enable: true
      traefik.http.routers.arcane.rule: Host(`${HOST:-arcane.${BASE_DOMAIN}}`)
      traefik.http.routers.arcane.tls.certresolver: myresolver
      traefik.http.routers.arcane.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.arcane.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
      traefik.http.services.arcane.loadbalancer.server.port: 3552
    networks:
      - arcane
      - public
    ports:
      - 3552:3552 # For access when traefik is not up
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/arcane/data:/app/data
      - /mnt/pool0/containers/arcane/data/projects:/app/data/projects
  arcane-proxy:
    container_name: arcane-proxy
    environment:
      CONFIGS: '1'
      CONTAINERS: '1'
      EVENTS: '1'
      EXEC: '1'
      IMAGES: '1'
      INFO: '1'
      NETWORKS: '1'
      PING: '1'
      POST: '1'
      SECRETS: '1'
      VERSION: '1'
      VOLUMES: '1'
    healthcheck:
      start_period: 5s
      test: 'wget --spider -q --tries=1 http://localhost:2375/_ping'
    image: ghcr.io/linuxserver/socket-proxy:${DOCKER_PROXY_IMAGE_TAG:-latest}
    labels:
      com.getarcaneapp.arcane.updater: false
    networks:
      - arcane
    pull_policy: always
    read_only: true
    restart: unless-stopped
    tmpfs:
      - /run
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
