HOST=foo.example.com
DESKTOP_IP_ADDRESS=1.2.3.4
KVM_IP_ADDRESS=1.2.3.4
SERVER_IP_ADDRESS=1.2.3.4
KVM_USERNAME=username
KVM_PASSWORD=password
OMADA_HOST=https://omada.example.com
OMADA_USER=username
OMADA_PASS=password
