networks:
  public:
    external: true

services:
  gotify:
    container_name: gotify
    environment:
      GOTIFY_SERVER_TRUSTEDPROXIES: '[172.16.0.0/16,192.168.1.0/24]'
      TZ: America/Los_Angeles
    image: ghcr.io/gotify/server:${IMAGE_TAG:-latest}
    labels:
      homepage.group: Status
      homepage.href: https://${HOST:-gotify.${BASE_DOMAIN}}
      homepage.icon: gotify.png
      homepage.name: Gotify
      homepage.widget.key: ${GOTIFY_CLIENT_TOKEN}
      homepage.widget.type: gotify
      homepage.widget.url: http://gotify
      traefik.enable: true
      traefik.http.routers.gotify.rule: Host(`${HOST:-gotify.${BASE_DOMAIN}}`)
      traefik.http.routers.gotify.tls.certresolver: myresolver
      traefik.http.routers.gotify.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.gotify.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    user: '568:568'
    volumes:
      - /mnt/pool0/containers/gotify:/app/data
