name: bitmagnet
networks:
  bitmagnet:
    driver: bridge
    ipam:
      config:
        - gateway: 192.168.55.1
          subnet: 192.168.55.0/24
      driver: default
    name: bitmagnet
  observe:
    external: true
  public:
    external: true
services:
  bitmagnet:
    command:
      - worker
      - run
      - --all
    container_name: bitmagnet
    depends_on:
      bitmagnet-db:
        condition: service_healthy
      bitmagnet-vpn:
        condition: service_healthy
    environment:
      CLASSIFIER_DELETE_XXX: 'true'
      DHT_CRAWLER_SCALING_FACTOR: 5
      LOG_JSON: 'true'
      POSTGRES_HOST: bitmagnet-db
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PROCESSOR_CONCURRENCY: 2
      TMDB_API_KEY: ${TMDB_API_KEY}
    image: ghcr.io/bitmagnet-io/bitmagnet:${IMAGE_TAG:-latest}
    labels:
      homepage.group: Media
      homepage.href: https://${HOST}
      homepage.icon: bitmagnet.png
      homepage.name: bitmagnet
    network_mode: 'service:bitmagnet-vpn'
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/bitmagnet/config:/root/.config/bitmagnet
  bitmagnet-db:
    container_name: bitmagnet-db
    environment:
      PGUSER: postgres
      POSTGRES_DB: bitmagnet
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      start_period: 5s
      test: ['CMD-SHELL', 'pg_isready', '-d', 'bitmagnet']
    image: postgres:${PG_VERSION}
    networks:
      bitmagnet:
        ipv4_address: 192.168.55.11
    # ports:
    #   - 5432:5432
    pull_policy: always
    restart: unless-stopped
    shm_size: 1g
    volumes:
      - /mnt/pool0/containers/bitmagnet/pg${PG_VERSION}:/var/lib/postgresql/data
  bitmagnet-vpn:
    cap_add:
      - NET_ADMIN
    container_name: bitmagnet-vpn
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      OPENVPN_PASSWORD: ${OPENVPN_PASSWORD}
      OPENVPN_USER: ${OPENVPN_USER}
      SERVER_COUNTRIES: United States
      TZ: America/Los_Angeles
      VPN_SERVICE_PROVIDER: ${VPN_SERVICE_PROVIDER}
      VPN_TYPE: openvpn
    # Host names must be manually mapped here for bitmagnet to resolve them:
    extra_hosts:
      - 'bitmagnet-db:192.168.55.11'
    image: ghcr.io/qdm12/gluetun:${GLUETUN_IMAGE_TAG:-latest}
    labels:
      prometheus.port: 3333
      traefik.enable: true
      traefik.http.routers.bitmagnet.middlewares: 'authelia@docker'
      traefik.http.routers.bitmagnet.rule: Host(`${HOST}`)
      traefik.http.routers.bitmagnet.tls.certresolver: myresolver
      traefik.http.routers.bitmagnet.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${HOST}}
      traefik.http.routers.bitmagnet.tls.domains[0].sans: ${TLS_CERT_SANS}
      traefik.http.services.bitmagnet.loadbalancer.server.port: 3333
    networks:
      bitmagnet:
        ipv4_address: 192.168.55.10
      observe:
      public:
    # ports:
    #   # The bitmagnet ports must be exposed by the gluetun container:
    #   - "3333:3333"
    #   # BitTorrent ports:
    #   - "3334:3334/tcp"
    #   - "3334:3334/udp"
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/bitmagnet/gluetun:/gluetun
