FRIGATE_HOST=frigate.example.com
FRIGATE_RTSP_PASSWORD=password
FRIGATE_PLUS_API_KEY=apikey

HASS_HOST=homeassistant.example.com
HASS_HOST2=homeassistant.example.com
HASS_IPV4_ADDRESS=192.168.1.102
HASS_MAC_ADDRESS=00:11:22:33:44:55
HASS_ACCESS_TOKEN=token

HOMEBRIDGE_HOST=homebridge.example.com
HOMEBRIDGE_IPV4_ADDRESS=192.168.1.99
HOMEBRIDGE_MAC_ADDRESS=00:11:22:33:44:55
HOMEBRIDGE_USERNAME=username
HOMEBRIDGE_PASSWORD=password

ZWAVE_HOST=zwave.example.com
ZWAVE_SESSION_SECRET=somesecret
ZWAVE_DEVICE_PATH=/dev/some/device
