configs:
  scrutiny_config:
    content: |
      version: 1

      notify:
        urls:
          - "gotify://gotify:80/${GOTIFY_TOKEN}?disableTLS=yes"

networks:
  public:
    external: true
  scrutiny:
    name: scrutiny

services:
  collector:
    cap_add:
      - SYS_ADMIN
      - SYS_RAWIO
    container_name: scrutiny-collector
    depends_on:
      web:
        condition: service_healthy
    device_cgroup_rules:
      - 'b 8:* rw' # SATA/SCSI
      - 'c 245:* rw' # NVMe
    environment:
      COLLECTOR_API_ENDPOINT: 'http://web:8080'
      COLLECTOR_CRON_SCHEDULE: ${COLLECTOR_CRON_SCHEDULE:-0 0 * * *}
      COLLECTOR_HOST_ID: 'scrutiny-collector'
      COLLECTOR_RUN_STARTUP: ${COLLECTOR_RUN_STARTUP:-false}
    image: ghcr.io/analogj/scrutiny:${IMAGE_TAG:-master}-collector
    networks:
      - scrutiny
    pull_policy: always
    restart: unless-stopped
    volumes:
      - '/dev:/dev'
      - '/run/udev:/run/udev:ro'

  influxdb:
    container_name: scrutiny-influxdb
    healthcheck:
      start_period: 5s
      test: ['CMD', 'curl', '-f', 'http://localhost:8086/health']
    image: influxdb:${INFLUXDB_IMAGE_TAG:-2}
    networks:
      - scrutiny
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/scrutiny/influxdb/config:/etc/influxdb2
      - /mnt/pool0/containers/scrutiny/influxdb/data:/var/lib/influxdb2

  web:
    configs:
      - source: scrutiny_config
        target: /opt/scrutiny/config/scrutiny.yaml
    container_name: scrutiny-web
    depends_on:
      influxdb:
        condition: service_healthy
    environment:
      SCRUTINY_WEB_INFLUXDB_HOST: 'influxdb'
    healthcheck:
      start_period: 5s
      test: ['CMD', 'curl', '-f', 'http://localhost:8080/api/health']
    image: ghcr.io/analogj/scrutiny:${IMAGE_TAG:-master}-web
    labels:
      homepage.group: NAS
      homepage.href: https://${HOST}
      homepage.icon: scrutiny.png
      homepage.name: Scrutiny
      homepage.widget.type: scrutiny
      homepage.widget.url: http://scrutiny-web:8080
      traefik.enable: true
      traefik.http.routers.scrutiny.middlewares: 'authelia@docker'
      traefik.http.routers.scrutiny.rule: Host(`${HOST}`)
      traefik.http.routers.scrutiny.tls.certresolver: myresolver
      traefik.http.routers.scrutiny.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${HOST}}
      traefik.http.routers.scrutiny.tls.domains[0].sans: ${TLS_CERT_SANS}
      traefik.http.services.scrutiny.loadbalancer.server.port: 8080
    networks:
      - scrutiny
      - public
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/scrutiny/config:/opt/scrutiny/config
