BASE_DOMAIN=example.com
OIDC_AUTH_URL=https://auth.example.com
OIDC_CLIENT_ID=vikunja-client
OIDC_CLIENT_SECRET=supersecret
VIKUNJA_SERVICE_JWTSECRET=supersecretjwt

# The following are optional and override defaults
# IMAGE_TAG=latest
# HOST=vikunja.example.com
# TLS_CERT_DOMAIN=example.com
# TLS_CERT_SANS=*.example.com
