services:
  cloudflared:
    command:
      - tunnel
      - '--no-autoupdate'
      - '--metrics'
      - 0.0.0.0:60123
      - run
    container_name: cloudflared
    environment:
      TUNNEL_TOKEN: ${TUNNEL_TOKEN}
    healthcheck:
      start_period: 5s
      test:
        - 'CMD'
        - 'cloudflared'
        - 'tunnel'
        - '--metrics'
        - '127.0.0.1:60123'
        - 'ready'
    image: cloudflare/cloudflared:${IMAGE_TAG:-latest}
    labels:
      homepage.group: Network
      homepage.href: https://one.dash.cloudflare.com
      homepage.icon: cloudflare.png
      homepage.name: Cloudflare Tunne
      prometheus.label.instance: truenas-server
      prometheus.port: 60123
    network_mode: host
    pull_policy: always
    restart: unless-stopped
    user: '568:568'
