name: arrs
networks:
  observe:
    external: true
  public:
    external: true

services:
  bazarr:
    container_name: bazarr
    environment:
      PGID: 568
      PUID: 568
      TZ: America/Los_Angeles
    healthcheck:
      start_period: 10s
      test: 'wget --spider -q --tries=1 http://0.0.0.0:6767'
    image: ghcr.io/linuxserver/bazarr:${BAZARR_IMAGE_TAG:-latest}
    labels:
      homepage.group: Media
      homepage.href: https://${BAZARR_HOST:-bazarr.${BASE_DOMAIN}}
      homepage.icon: bazarr.png
      homepage.name: Bazarr (Subtitles)
      traefik.enable: true
      traefik.http.routers.bazarr.middlewares: 'authelia@docker'
      traefik.http.routers.bazarr.rule: Host(`${BAZARR_HOST:-bazarr.${BASE_DOMAIN}}`)
      traefik.http.routers.bazarr.tls.certresolver: myresolver
      traefik.http.routers.bazarr.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.bazarr.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/bazarr:/config
      - /mnt/pool1/media:/data
  cleanuparr:
    container_name: cleanuparr
    environment:
      - PUID=568
      - PGID=568
      - TZ=America/Los_Angeles
    healthcheck:
      start_period: 10s
      test: ['CMD', 'curl', '-f', 'http://localhost:11011/health']
    image: ghcr.io/cleanuparr/cleanuparr:${CLEANUPARR_IMAGE_TAG:-latest}
    labels:
      homepage.group: Media
      homepage.href: https://${CLEANUPARR_HOST:-cleanuparr.${BASE_DOMAIN}}
      homepage.icon: cleanuperr.png
      homepage.name: Cleanuparr
      traefik.enable: true
      traefik.http.routers.cleanuparr.middlewares: 'authelia@docker'
      traefik.http.routers.cleanuparr.rule: Host(`${CLEANUPARR_HOST:-cleanuparr.${BASE_DOMAIN}}`)
      traefik.http.routers.cleanuparr.tls.certresolver: myresolver
      traefik.http.routers.cleanuparr.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.cleanuparr.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
      traefik.http.services.cleanuparr.loadbalancer.server.port: 11011
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/cleanuparr/config:/config
  jellyseerr:
    container_name: jellyseerr
    environment:
      PGID: 568
      PUID: 568
      TZ: America/Los_Angeles
    healthcheck:
      start_period: 10s
      test: 'wget --spider -q --tries=1 http://0.0.0.0:5055/status'
    image: ghcr.io/fallenbagel/jellyseerr:${JELLYSEERR_IMAGE_TAG:-latest}
    init: true
    labels:
      homepage.group: Media
      homepage.href: https://${JELLYSEERR_HOST:-jellyseerr.${BASE_DOMAIN}}
      homepage.icon: jellyseerr.png
      homepage.name: Jellyseerr
      traefik.enable: true
      traefik.http.routers.jellyseerr.middlewares: 'authelia@docker'
      traefik.http.routers.jellyseerr.rule: Host(`${JELLYSEERR_HOST:-jellyseerr.${BASE_DOMAIN}}`)
      traefik.http.routers.jellyseerr.tls.certresolver: myresolver
      traefik.http.routers.jellyseerr.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.jellyseerr.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/jellyseerr:/app/config
  prowlarr:
    container_name: prowlarr
    environment:
      PGID: 568
      PUID: 568
      TZ: America/Los_Angeles
    healthcheck:
      start_period: 10s
      test: 'wget --spider -q --tries=1 http://0.0.0.0:9696/ping'
    image: ghcr.io/linuxserver/prowlarr:${PROWLARR_IMAGE_TAG:-latest}
    labels:
      homepage.group: Media
      homepage.href: https://${PROWLARR_HOST:-prowlarr.${BASE_DOMAIN}}
      homepage.icon: prowlarr.png
      homepage.name: Prowlarr (Indexers)
      traefik.enable: true
      traefik.http.routers.prowlarr.middlewares: 'authelia@docker'
      traefik.http.routers.prowlarr.rule: Host(`${PROWLARR_HOST:-prowlarr.${BASE_DOMAIN}}`)
      traefik.http.routers.prowlarr.tls.certresolver: myresolver
      traefik.http.routers.prowlarr.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.prowlarr.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/prowlarr:/config
  radarr:
    container_name: radarr
    environment:
      PGID: 568
      PUID: 568
      TZ: America/Los_Angeles
    healthcheck:
      start_period: 10s
      test: 'wget --spider -q --tries=1 http://0.0.0.0:7878/ping'
    image: ghcr.io/linuxserver/radarr:${RADARR_IMAGE_TAG:-latest}
    labels:
      homepage.group: Media
      homepage.href: https://${RADARR_HOST:-radarr.${BASE_DOMAIN}}
      homepage.icon: radarr.png
      homepage.name: Radarr (Movies)
      homepage.widget.enableQueue: true
      homepage.widget.key: ${RADARR_API_KEY}
      homepage.widget.type: radarr
      homepage.widget.url: http://radarr:7878
      traefik.enable: true
      traefik.http.routers.radarr.middlewares: 'authelia@docker'
      traefik.http.routers.radarr.rule: Host(`${RADARR_HOST:-radarr.${BASE_DOMAIN}}`)
      traefik.http.routers.radarr.tls.certresolver: myresolver
      traefik.http.routers.radarr.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.radarr.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/radarr:/config
      - /mnt/pool1/media:/data
  sonarr:
    container_name: sonarr
    environment:
      PGID: 568
      PUID: 568
      TZ: America/Los_Angeles
    healthcheck:
      start_period: 10s
      test: 'wget --spider -q --tries=1 http://0.0.0.0:8989/ping'
    image: ghcr.io/linuxserver/sonarr:${SONARR_IMAGE_TAG:-latest}
    labels:
      homepage.group: Media
      homepage.href: https://${SONARR_HOST:-sonarr.${BASE_DOMAIN}}
      homepage.icon: sonarr.png
      homepage.name: Sonarr (Shows)
      homepage.widget.enableQueue: true
      homepage.widget.key: ${SONARR_API_KEY}
      homepage.widget.type: sonarr
      homepage.widget.url: http://sonarr:8989
      traefik.enable: true
      traefik.http.routers.sonarr.middlewares: 'authelia@docker'
      traefik.http.routers.sonarr.rule: Host(`${SONARR_HOST:-sonarr.${BASE_DOMAIN}}`)
      traefik.http.routers.sonarr.tls.certresolver: myresolver
      traefik.http.routers.sonarr.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.sonarr.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/sonarr:/config
      - /mnt/pool1/media:/data
  transmission:
    container_name: transmission
    depends_on:
      transmission-vpn:
        condition: service_healthy
    environment:
      DOCKER_MODS: ghcr.io/michsior14/docker-mods:transmission-gluetun-port-update
      GLUETUN_AUTH_API_KEY: ${GLUETUN_AUTH_API_KEY}
      GLUETUN_AUTH_TYPE: apikey
      TZ: America/Los_Angeles
    healthcheck:
      start_period: 10s
      test: 'wget --spider -q --tries=1 http://0.0.0.0:9091'
    image: ghcr.io/linuxserver/transmission:${TRANSMISSION_IMAGE_TAG:-latest}
    labels:
      homepage.group: Media
      homepage.href: https://${TRANSMISSION_HOST:-transmission.${BASE_DOMAIN}}
      homepage.icon: transmission.png
      homepage.name: Transmission (Downloads)
      homepage.widget.type: transmission
      homepage.widget.url: http://transmission-vpn:9091
    network_mode: 'service:transmission-vpn'
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/transmission/config:/config
      - /mnt/pool1/media/torrents:/data/torrents
  transmission-vpn:
    cap_add:
      - NET_ADMIN
    container_name: transmission-vpn
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      HTTP_CONTROL_SERVER_AUTH_DEFAULT_ROLE: '{"auth":"apikey","apikey":"${GLUETUN_AUTH_API_KEY}"}'
      OPENVPN_PASSWORD: ${OPENVPN_PASSWORD}
      OPENVPN_USER: ${OPENVPN_USER}
      PORT_FORWARD_ONLY: 'on'
      SERVER_COUNTRIES: United States
      TZ: America/Los_Angeles
      VPN_PORT_FORWARDING: 'on'
      VPN_SERVICE_PROVIDER: ${VPN_SERVICE_PROVIDER}
      VPN_TYPE: openvpn
    image: ghcr.io/qdm12/gluetun:${GLUETUN_IMAGE_TAG:-latest}
    labels:
      traefik.enable: true
      traefik.http.routers.transmission.middlewares: 'authelia@docker'
      traefik.http.routers.transmission.rule: Host(`${TRANSMISSION_HOST:-transmission.${BASE_DOMAIN}}`)
      traefik.http.routers.transmission.tls.certresolver: myresolver
      traefik.http.routers.transmission.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.transmission.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
      traefik.http.services.transmission.loadbalancer.server.port: 9091
    networks:
      - public
    # ports:
    #   - 9091:9091 # Transmission UI
    #   - 51413:51413 # Transmission service
    #   - 51413:51413/udp # Transmission service
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/transmission/gluetun:/gluetun
