BAZARR_HOST=bazarr.example.com
BAZARR_API_KEY=key
JELLYSEERR_HOST=jellyseerr.example.com
JELLYSEERR_API_KEY=key
PROWLARR_HOST=prowlarr.example.com
PROWLARR_API_KEY=key
RADARR_HOST=radarr.example.com
RADARR_API_KEY=key
READARR_HOST=readarr.example.com
READARR_API_KEY=key
SONARR_HOST=sonarr.example.com
SONARR_API_KEY=key
TRANSMISSION_HOST=transmission.example.com
VPN_SERVICE_PROVIDER=provider
OPENVPN_USER=user
OPENVPN_PASSWORD=password
