services:
  tailscale:
    cap_add:
      - NET_ADMIN
    container_name: tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      TS_AUTH_ONCE: 'true'
      TS_AUTHKEY: ${TS_AUTHKEY}
      TS_ENABLE_HEALTH_CHECK: 'true'
      TS_ENABLE_METRICS: 'true'
      TS_EXTRA_ARGS: '${TS_EXTRA_ARGS}'
      TS_HOSTNAME: ${HOSTNAME}
      TS_STATE_DIR: /var/lib/tailscale
      TS_USERSPACE: 'false'
      TZ: America/Los_Angeles
    healthcheck:
      start_period: 10s
      test: 'wget --spider -q --tries=1 http://127.0.0.1:9002/healthz'
    image: ghcr.io/tailscale/tailscale:${IMAGE_TAG:-latest}
    labels:
      homepage.group: Network
      homepage.href: https://login.tailscale.com
      homepage.icon: tailscale.png
      homepage.name: Tailscale
      prometheus.label.instance: truenas-server
      prometheus.label.tailscale_machine: truenas-server
      prometheus.port: 9002
    network_mode: host
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/pool0/containers/tailscale:/var/lib/tailscale
