configs:
  authelia_config:
    content: |
      session:
        cookies:
          - domain: '${AUTHELIA_COOKIE_DOMAIN:-${BASE_DOMAIN}}'
            authelia_url: 'https://${AUTHELIA_HOST:-auth.${BASE_DOMAIN}}'
      identity_providers:
        oidc:
          claims_policies:
            with_email:
              id_token: ['email', 'email_verified', 'alt_emails', 'preferred_username', 'name']
          jwks:
            - key: {{ secret "/run/secrets/AUTHELIA_OIDC_JWK_KEY" | mindent 10 "|" | msquote }}

networks:
  docker-proxy:
    external: true
  observe:
    external: true
  public:
    external: true

secrets:
  ACME_EAB_HMAC:
    file: /mnt/pool0/containers/traefik/secrets/ACME_EAB_HMAC
  ACME_EAB_KID:
    file: /mnt/pool0/containers/traefik/secrets/ACME_EAB_KID
  AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD:
    file: /mnt/pool0/containers/authelia/secrets/LDAP_PASSWORD
  AUTHELIA_JWT_SECRET:
    file: /mnt/pool0/containers/authelia/secrets/JWT_SECRET
  AUTHELIA_OIDC_HMAC_SECRET:
    file: /mnt/pool0/containers/authelia/secrets/OIDC_HMAC_SECRET
  AUTHELIA_OIDC_JWK_KEY:
    file: /mnt/pool0/containers/authelia/secrets/oidc.jwks.rsa.2048.pem
  AUTHELIA_SESSION_SECRET:
    file: /mnt/pool0/containers/authelia/secrets/SESSION_SECRET
  AUTHELIA_STORAGE_ENCRYPTION_KEY:
    file: /mnt/pool0/containers/authelia/secrets/STORAGE_ENCRYPTION_KEY
  CF_DNS_API_TOKEN:
    file: /mnt/pool0/containers/traefik/secrets/CF_DNS_API_TOKEN
  LLDAP_JWT_SECRET:
    file: /mnt/pool0/containers/lldap/secrets/LLDAP_JWT_SECRET
  LLDAP_KEY_SEED:
    file: /mnt/pool0/containers/lldap/secrets/LLDAP_KEY_SEED
  LLDAP_LDAP_USER_PASS:
    file: /mnt/pool0/containers/lldap/secrets/LLDAP_LDAP_USER_PASS

services:
  authelia:
    configs:
      - source: authelia_config
        target: /config/configuration.yml
    container_name: authelia
    depends_on:
      lldap:
        condition: service_healthy
    environment:
      AUTHELIA_ACCESS_CONTROL_DEFAULT_POLICY: one_factor
      AUTHELIA_AUTHENTICATION_BACKEND_LDAP_ADDRESS: ldap://lldap:3890
      AUTHELIA_AUTHENTICATION_BACKEND_LDAP_BASE_DN: ${LLDAP_LDAP_BASE_DN}
      AUTHELIA_AUTHENTICATION_BACKEND_LDAP_IMPLEMENTATION: lldap
      AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_FILE: /run/secrets/AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD
      AUTHELIA_AUTHENTICATION_BACKEND_LDAP_USER: uid=authelia,ou=people,${LLDAP_LDAP_BASE_DN}
      AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET_FILE: /run/secrets/AUTHELIA_OIDC_HMAC_SECRET
      AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE: /run/secrets/AUTHELIA_JWT_SECRET
      AUTHELIA_LOG_FORMAT: json
      AUTHELIA_NOTIFIER_FILESYSTEM_FILENAME: /config/notification.txt
      AUTHELIA_SESSION_SECRET_FILE: /run/secrets/AUTHELIA_SESSION_SECRET
      AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE: /run/secrets/AUTHELIA_STORAGE_ENCRYPTION_KEY
      AUTHELIA_STORAGE_LOCAL_PATH: /config/db.sqlite3
      AUTHELIA_TELEMETRY_METRICS_ENABLED: true
      PGID: 568
      PUID: 568
      TZ: America/Los_Angeles
      X_AUTHELIA_CONFIG: /config/configuration.yml,/config/oidc_clients.yml
      X_AUTHELIA_CONFIG_FILTERS: template
    image: ghcr.io/authelia/authelia:${AUTHELIA_IMAGE_TAG:-4}
    labels:
      homepage.group: Network
      homepage.href: https://${AUTHELIA_HOST:-auth.${BASE_DOMAIN}}
      homepage.icon: authelia.png
      homepage.name: Authelia
      prometheus.label.instance: truenas-server
      prometheus.port: 9959
      traefik.enable: true
      traefik.http.middlewares.authelia.forwardauth.address: http://authelia:9091/api/authz/forward-auth
      traefik.http.middlewares.authelia.forwardauth.authResponseHeaders: Remote-User,Remote-Groups,Remote-Name,Remote-Email
      traefik.http.middlewares.authelia.forwardauth.trustForwardHeader: true
      traefik.http.routers.authelia.rule: Host(`${AUTHELIA_HOST:-auth.${BASE_DOMAIN}}`)
      traefik.http.routers.authelia.tls.certresolver: myresolver
      traefik.http.routers.authelia.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.authelia.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
      traefik.http.services.authelia.loadbalancer.server.port: 9091
    networks:
      - observe
      - public
    pull_policy: always
    restart: unless-stopped
    secrets:
      - AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD
      - AUTHELIA_JWT_SECRET
      - AUTHELIA_OIDC_HMAC_SECRET
      - AUTHELIA_OIDC_JWK_KEY
      - AUTHELIA_SESSION_SECRET
      - AUTHELIA_STORAGE_ENCRYPTION_KEY
    volumes:
      - /mnt/pool0/containers/authelia/config:/config

  docker-proxy:
    container_name: docker-proxy
    environment:
      CONTAINERS: '1'
      INFO: '1'
      NETWORKS: '1'
    healthcheck:
      start_period: 5s
      test: 'wget --spider -q --tries=1 http://localhost:2375/_ping'
    image: ghcr.io/linuxserver/socket-proxy:${DOCKER_PROXY_IMAGE_TAG:-latest}
    networks:
      - docker-proxy
    pull_policy: always
    read_only: true
    restart: unless-stopped
    tmpfs:
      - /run
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  lldap:
    container_name: lldap
    environment:
      GID: 568
      LLDAP_JWT_SECRET_FILE: /run/secrets/LLDAP_JWT_SECRET
      LLDAP_KEY_SEED_FILE: /run/secrets/LLDAP_KEY_SEED
      LLDAP_LDAP_BASE_DN: ${LLDAP_LDAP_BASE_DN}
      LLDAP_LDAP_USER_PASS_FILE: /run/secrets/LLDAP_LDAP_USER_PASS
      TZ: America/Los_Angeles
      UID: 568
    image: ghcr.io/lldap/lldap:${LLDAP_IMAGE_TAG:-stable}
    labels:
      homepage.group: Network
      homepage.href: https://${LLDAP_HOST:-lldap.${BASE_DOMAIN}}
      homepage.icon: lldap.png
      homepage.name: lldap
      traefik.enable: true
      traefik.http.routers.lldap.rule: Host(`${LLDAP_HOST:-lldap.${BASE_DOMAIN}}`)
      traefik.http.routers.lldap.tls.certresolver: myresolver
      traefik.http.routers.lldap.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.lldap.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
      traefik.http.services.lldap.loadbalancer.server.port: 17170
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    secrets:
      - LLDAP_JWT_SECRET
      - LLDAP_KEY_SEED
      - LLDAP_LDAP_USER_PASS
    volumes:
      - /mnt/pool0/containers/lldap/data:/data

  traefik:
    command:
      - '--api.insecure=true'
      - '--certificatesresolvers.myresolver.acme.caserver=${ACME_CA_SERVER}'
      - '--certificatesresolvers.myresolver.acme.eab.hmacencoded=$$(cat /run/secrets/ACME_EAB_HMAC)'
      - '--certificatesresolvers.myresolver.acme.eab.kid=$$(cat /run/secrets/ACME_EAB_KID)'
      - '--certificatesresolvers.myresolver.acme.dnschallenge=true'
      - '--certificatesresolvers.myresolver.acme.dnschallenge.provider=cloudflare'
      - '--certificatesresolvers.myresolver.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53'
      - '--certificatesresolvers.myresolver.acme.email=${ACME_EMAIL_ADDRESS}'
      - '--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json'
      - '--entryPoints.web.address=:80'
      - '--entryPoints.web.http.redirections.entryPoint.scheme=https'
      - '--entryPoints.web.http.redirections.entryPoint.to=websecure'
      - '--entryPoints.websecure.address=:443'
      - '--log.format=json'
      - '--log.level=INFO'
      - '--metrics.prometheus=true'
      - '--providers.docker=true'
      - '--providers.docker.endpoint=tcp://docker-proxy:2375'
      - '--providers.docker.exposedbydefault=false'
      - '--providers.docker.network=public'
      - '--providers.file.directory=/app'
      - '--providers.file.watch=true'
      - '--serverstransport.insecureskipverify=true'
    container_name: traefik
    depends_on:
      docker-proxy:
        condition: service_healthy
    environment:
      CF_DNS_API_TOKEN_FILE: /run/secrets/CF_DNS_API_TOKEN
    extra_hosts:
      - host.docker.internal:host-gateway
    healthcheck:
      start_period: 5s
      test: 'wget --spider -q --tries=1 http://localhost:8080'
    image: traefik:${TRAEFIK_IMAGE_TAG:-v3}
    labels:
      homepage.group: Network
      homepage.href: https://${TRAEFIK_HOST:-traefik.${BASE_DOMAIN}}
      homepage.icon: traefik.png
      homepage.name: Traefik
      prometheus.label.instance: truenas-server
      prometheus.port: 8080
      traefik.enable: true
      traefik.http.routers.api.middlewares: 'authelia@docker'
      traefik.http.routers.api.rule: Host(`${TRAEFIK_HOST:-traefik.${BASE_DOMAIN}}`)
      traefik.http.routers.api.service: 'api@internal'
      traefik.http.routers.api.tls.certresolver: myresolver
      traefik.http.routers.api.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.api.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
    networks:
      - docker-proxy
      - observe
      - public
    ports:
      - '80:80'
      - '443:443'
    pull_policy: always
    restart: unless-stopped
    secrets:
      - ACME_EAB_KID
      - ACME_EAB_HMAC
      - CF_DNS_API_TOKEN
    user: '568:568'
    volumes:
      - /mnt/pool0/containers/traefik/config:/app
      - /mnt/pool0/containers/traefik/le:/letsencrypt
