AUTHELIA_IMAGE_TAG=4
AUTHELIA_HOST=auth.example.com
AUTHELIA_COOKIE_DOMAIN=example.com
DOCKER_PROXY_IMAGE_TAG=latest
TRAEFIK_IMAGE_TAG=v3
TRAEFIK_HOST=traefik.example.com
CF_DNS_API_TOKEN=token
ACME_CA_SERVER=https://acme-v02.api.letsencrypt.org/directory
ACME_EAB_KID=
ACME_EAB_HMAC=
ACME_EMAIL_ADDRESS=email@example.com
