networks:
  public:
    external: true

services:
  jellyfin:
    container_name: jellyfin
    devices:
      - /dev/dri:/dev/dri
    environment:
      JELLYFIN_PublishedServerUrl: https://${HOST:-jellyfin.${BASE_DOMAIN}}
      TZ: America/Los_Angeles
    group_add:
      - 107 # render
      - 44 # video
    image: ghcr.io/jellyfin/jellyfin:${IMAGE_TAG:-latest}
    labels:
      homepage.group: Media
      homepage.href: https://${HOST:-jellyfin.${BASE_DOMAIN}}
      homepage.icon: jellyfin.png
      homepage.name: Jellyfin
      homepage.widget.enableBlocks: true
      homepage.widget.enableNowPlaying: false
      homepage.widget.key: ${API_KEY}
      homepage.widget.type: jellyfin
      homepage.widget.url: http://jellyfin:8096
      traefik.enable: true
      traefik.http.routers.jellyfin.rule: Host(`${HOST:-jellyfin.${BASE_DOMAIN}}`)
      traefik.http.routers.jellyfin.tls.certresolver: myresolver
      traefik.http.routers.jellyfin.tls.domains[0].main: ${TLS_CERT_DOMAIN:-${BASE_DOMAIN}}
      traefik.http.routers.jellyfin.tls.domains[0].sans: ${TLS_CERT_SANS:-*.${BASE_DOMAIN}}
    networks:
      - public
    pull_policy: always
    restart: unless-stopped
    user: '568:568'
    volumes:
      - /mnt/pool1/media/library/fitness:/media-fitness
      - /mnt/pool1/media/library/movies:/media-movies
      - /mnt/pool1/media/library/shows:/media-shows
      - /mnt/pool0/containers/jellyfin/cache:/cache
      - /mnt/pool0/containers/jellyfin:/config
